.innerModal {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  min-height: 545px;
  opacity: 0;
  animation: fadeIn 0.2s forwards linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.swapWrap {
  width: 100%;
  background: linear-gradient(90deg, rgb(14, 18, 0), rgba(14, 18, 0, 0.424));
  min-height: 7rem;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid rgba(255, 255, 0, 0.2);
  box-shadow: 0px 0px 8px rgba(255, 255, 0, 0.2);
}

.swapArrow {
  color: rgba(255, 255, 0, 0.705);
  font-size: 35px;
  margin: 0.3rem 0rem;
}

.logoIcon {
  width: 40px;
  background-color: rgb(0, 64, 255);
  padding: 6px;
  border-radius: 50%;
}

.itemWrap {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  user-select: none;
  color: var(--yellow);
  border-radius: 1rem;
  padding: 8px;
  margin-left: -8px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.itemWrap:hover {
  box-shadow: 0px 0px 3px yellow;
  background-color: rgba(255, 255, 0, 0.05);
}

.itemBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.numberBox {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.amountInput {
  font-size: 35px;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  text-align: right;
  /* background-color: red; */
  height: 100%;
  padding: 0.5rem;
}

.whiteSpan {
  color: white;
  font-size: 35px !important;
}

.rate {
  color: rgba(246, 255, 0, 0.687);
  font-size: 15px;
  border: 2px solid rgba(255, 255, 0, 0.2);
  padding: 0.25rem;
  border-radius: 0.5rem;
  font-weight: bold;
  user-select: none;
}

.toprow {
  position: relative;
  width: 100%;
  height: 20px;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.info {
  color: yellow;
  font-size: 20px;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.info:hover {
  opacity: 1;
  color: yellow;
}

.swapCta {
  width: 100%;
  min-height: 2.75rem;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(227, 227, 0);
  transition: all 0.1s ease-in-out;
  text-transform: uppercase;
  min-height: 44px;
}

.swapCta:hover {
  background-color: yellow;
}

.bottomBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
}

.tokenBox {
  display: flex;
  color: rgb(0, 255, 0);
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.priceSpan {
  font-size: 24px;
  margin-top: 5px;
  position: relative;
}

.ctaBox {
  display: flex;
  gap: 0.5rem;
}

.ctaBox button {
  font-size: 20px;
  background-color: transparent;
  outline: 1px solid rgba(255, 255, 0, 0.635);
  border: none;
  color: white;
  border-radius: 0.25rem;
  padding: 4px 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.ctaBox button:hover {
  background-color: rgb(255, 255, 0);
  color: black;
}

.border {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 0, 0.4);
  margin: 0.5rem 0rem;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  color: var(--yellow);
}

.wrapper span {
  width: 3.5rem;
  font-size: 16px;
}

.copyIcon {
  font-size: 12px;
}

.buyIcon {
  font-size: 14px;
}

.frame {
  width: 100%;
  height: 30rem;
}

.priceBox {
  display: flex;
  flex-direction: column;
  width: 7.5rem;
}

.priceChange {
  font-size: 16px;
}

.redPrice {
  color: red !important;
}

.vaultStats {
  margin-top: 0.75rem;
  height: 3rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.694);
  border: 2px solid rgba(169, 158, 0, 0.574);
  border-radius: 0.5rem;
  backdrop-filter: blur(5rem);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(172, 172, 172);
  padding: 1rem;
  padding-right: 3rem;
}

.reserves {
  margin-left: 0.5rem;
  margin-top: 5px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.valueSpan {
  color: white;
}

.loadOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;

  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 40px;
}

.loadOverlay h2 {
  z-index: 10;
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}
.pika {
  width: 100%;
  opacity: 1;
  position: relative;
  z-index: 10;
}

.rotate {
  transform: scaleX(-1) !important;
}

.grassBg {
  position: absolute;
  background-image: url("../Grass.webp");
  width: 100%;
  height: 100%;
  animation: fadeIn2 3s forwards linear;
}

.balanceSpan {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 14px;
  color: rgb(187, 187, 187);
}

.whiteSpan {
  font-size: 14px !important;
  color: white;
}

.dollarValue {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 14px;
  right: 2rem;
  color: rgb(0, 255, 0);
}

.outputSpan {
  font-size: 35px !important;
  color: white;
  user-select: none;
}

.redInput {
  color: red !important;
}
