.innerModal {
  width: 100%;
  height: 100%;
  padding: 1rem;
  min-height: 545px;
  animation: fadeIn 0.2s forwards linear;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.vaultToggle {
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  text-transform: uppercase;
}

.vaultToggle button {
  width: 33%;
  font-size: 24px;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.1s ease-in-out;
}

.activeCta {
  opacity: 1 !important;
}

.vaultWrapper {
  width: 100%;
  height: 100%;
  margin-top: 0.75rem;
}
@media only screen and (max-width: 620px) {
  .vaultToggle {
    flex-direction: column;
  }
  .vaultToggle button {
    width: 100%;
  }
  .vaultWrapper {
    height: auto;
  }
}

.vaultStats {
  margin-top: 0.75rem;
  height: 3rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.694);
  border: 2px solid rgba(169, 158, 0, 0.574);
  border-radius: 0.5rem;
  backdrop-filter: blur(5rem);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(172, 172, 172);
  padding: 1rem;
  padding-right: 3rem;
}

.reserves {
  margin-left: 0.5rem;
  margin-top: 5px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.valueSpan {
  color: white;
}

@media only screen and (max-width: 450px) {
  .valueSpan {
    font-size: 12px;
    text-align: center;
  }
  .col {
    text-align: center;
  }
}
