.home {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(16, 6, 6);
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.home::before {
  content: "";
  height: 100%;
  width: 400px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.657), rgba(0, 0, 0, 0.02));
  position: absolute;
  z-index: 50;
  left: 0;
}
.home::after {
  content: "";
  height: 100%;
  width: 400px;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.657),
    rgba(0, 0, 0, 0.02)
  );
  position: absolute;
  z-index: 50;
  right: 0;
}

.forrestBG {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 0;
}

.mainApp {
  margin-top: 2rem;
  width: 100%;
  /* background-color: rgb(91, 0, 0); */
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
}

.mainLogo {
  margin-top: 2rem;
  width: 500px;
  z-index: 100;
}

.modal {
  min-height: 599px;
  width: 40rem;
  background: linear-gradient(
    130deg,
    rgb(34, 34, 151),
    rgb(35, 35, 121),
    rgb(5, 5, 116)
  );
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 2px solid rgba(255, 255, 0, 0.2);
  border-top: none;
  overflow: hidden;
  position: relative;
}

.modal::before {
  content: "";
  position: absolute;
  background-image: url("../Squirtlogo.webp");
  width: 250px;
  height: 250px;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;

  filter: opacity(0.1); /* Only applies to the image */
}

.blastCorner {
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 0px;
  left: 0;
  opacity: 0.1;
  z-index: 0;
}

.toggleBox {
  width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2rem);
}
.toggleBox button {
  padding: 0.6rem 0.5rem;
  border: none;
  outline: none;
  width: 100%;
  font-size: 30px;
  cursor: pointer;
  opacity: 0.4;
  color: white;
  display: flex;
  gap: 0.35rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(96, 96, 249);
  transition: all 0.1s ease-in-out;
}

.toggleBox button:nth-child(1) {
  border-top-left-radius: 0.5rem;
}
.toggleBox button:nth-child(2) {
  border-top-right-radius: 0.5rem;
}

.activeButton {
  background-color: blue;
  opacity: 1 !important;
  color: var(--yellow) !important;
}

.miner {
  width: 20px;
  margin-bottom: 5px;
}

.stake {
  width: 22px;
  margin-bottom: 5px;
}

.frame {
  width: 710px;
  height: 800px;
}

@media only screen and (max-width: 1400px) {
  .home::before {
    width: 300px;
    z-index: 10;
  }
  .home::after {
    width: 300px;
    z-index: 10;
  }
}

@media only screen and (max-width: 730px) {
  .modal,
  .toggleBox {
    width: 100%;
  }

  .mainApp {
    padding: 0rem 0.5rem 2rem;
  }
  .mainLogo {
    width: 90%;
  }
}
