.farmoverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.697);
  backdrop-filter: blur(0.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.poolList {
  width: 25rem;
  height: 40rem;
  background: linear-gradient(
    130deg,
    rgb(34, 34, 151),
    rgb(35, 35, 121),
    rgb(5, 5, 116)
  );
  border-radius: 1rem;
  position: relative;
  opacity: 0;
  animation: slideIn 0.2s forwards linear;
}

@keyframes slideIn {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
    opacity: 1;
  }
}

.poolList {
  color: white;
  padding: 1rem;
  display: f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  list-style-type: none;
}

.poolList h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.list {
  width: 100%;
  height: 100%;
  flex: 1;
  margin-top: 2rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list li {
  /* border: 1px solid rgba(255, 255, 255, 0.16); */
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

.list li:hover {
  background: linear-gradient(
    130deg,
    rgb(34, 34, 151),
    rgb(37, 37, 181),
    rgb(5, 5, 116)
  );
}

.poolName {
  font-size: 20px;
}

.contractSpan {
  color: rgb(181, 181, 181);
}

.pairLogo {
  width: 30px;
  height: 30px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.col:nth-child(2) {
  font-size: 12px;
}

.visitDiv {
  display: flex;
  flex-direction: column;
  width: 4.5rem;
}

.arrow {
  animation: slideRight 0.1s forwards linear;
}

@keyframes slideRight {
  from {
    transform: translateX(0rem);
    color: white;
  }
  to {
    color: yellow;
    transform: translateX(1.8rem);
  }
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: rgb(197, 197, 197);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.close:hover {
  color: white;
}
